.chat {
  max-width: 430px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;

  .chat-top {
    width: 100%;
    display: flex;
    justify-content: center;

    h1 {
      font-size: 25px;
      color: #1dc2f7;
      font-family: "Exo";
    }
  }
  .chat-middle {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;

    .scroll {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
    .chat-section {
      height: 450px;

      .msg {
        display: flex;
        gap: 30px;
      }
    }
    .chat-bottom {
      input {
        border-style: none;
        position: absolute;
        bottom: 0;
        width: 99%;
        height: 60px;
        font-size: 20px;
        border-style: none;
      }
      input::placeholder {
        color: #cacaca;
        font-family: "Encode Sans";
      }
      button {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
